<% @page_title = "FitNesse Analyzer"%>
<% @description = "insert a short description about the fitnesse analyzer"%>
<%= stylesheet_link_tag "/stylesheets/analyzer.css", :media => "all" %>

<div class="analyzer_content" id="analyzer_content">
	<p id="header">Run FitNesse Analyzer</p>
	<div id="exe_analyzer_form">
	<%= button_to('Click To Execute Analyzer', {:controller => 'fit_analyzer', :action => 'execute_analyzer'}, :method => :get)%>
	<h5><i><font color="red"><%= flash[:notice] %></font></i></h5>
</div>
</div>