<% @page_title = "FitNesse Analyzer"%>
<% @description = "insert a short description about the fitnesse analyzer"%>
<%= stylesheet_link_tag "/stylesheets/analyzer.css", :media => "all" %>

<div class="analyzer_content" id="analyzer_content">
	<p id="header">Run FitNesse Analyzer</p>
	<form id="exe_analyzer_form">
		<ul><%= link_to 'Execute Analyzer', :controller => 'fit_analyzer', :action => 'execute_analyzer', :confirm => 'Are you sure?', :remote => true %></ul>
	</form>
</div>